canvas  {
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
}

.name {
  font-size: 3rem;
  font-family: Calibri, sans-serif;
  color: whitesmoke;
  padding-top: 4%;
  display: flex;
  justify-content: center;
}

.nav{
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.nav_items  {
  display: inline;
  list-style: none;
}

.nav_link {
  position: relative;
  display: inline;
  color: whitesmoke;
}

ul li {
  display: inline;
  padding-right: 32px;
  color: whitesmoke;
}

a {
  color: whitesmoke;
  font-size: 1.5rem;
  text-decoration: none;
}
.nav__button {
  color: whitesmoke;
  font-size: 1.5rem;
  text-decoration: none;
  border: none;
  background-color: inherit;
  
}

.nav__button:hover {
  color: #0A58CA;
}

#about-parent {
  text-align: center;
  padding-left: 25%;
  padding-right:25%;
}

#about  {
  color: rgb(61, 61, 61);
  font-family: Calibri, sans-serif;
  border-radius: 15px;
  padding:10px;
  background: rgba(240, 240, 240, 0.605);
  margin: auto;
}

@media screen and (max-width:800px){
  
  a {
    font-size: 1.2rem;
  }
  .nav__button {
    font-size: 1.2rem;
    
  }

  ul li {
    display: inline;
    padding-right: 35px;
    color: whitesmoke;
  }

}